* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
  position: relative;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  //   margin-top: 5vh;
}
h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 2vh;
}
form {
  margin-top: 2vh;
  padding: 1vh;
  // background-color: red;

  input {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 5px;
  }
  #submit {
    cursor: pointer;

    &:hover {
      background-color: #52f15ad4;
      color: white;
      border: none;
    }
  }

  #submit:active {
    background-color: #2ea234a7;
    color: white;
    transition: 0.1s ease;
    border: none;
  }

  #username:focus {
    outline: none;
    border: 1px solid white;
    font-size: 1.1rem;
    font-weight: 600;
  }
}
button {
  cursor: pointer;
  background-color: rgb(7, 7, 7);
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 1px;
  border: 1px solid rgb(101, 94, 94);
  position: absolute;
  top: 1%;
  right: 2%;
}

.user-card {
  background: #fff;
  width: 100%;
  max-width: 510px;
  border-radius: 1rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5),
    /* dark outer shadow */ -10px -10px 30px rgba(255, 255, 255, 0.1); /* light outer glow for soft 3D */
  margin-top: 2vh;
  padding: 2vh;
  color: #000;
  opacity: 0;

  h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2vh;
  }
  p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1vh;
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    margin-top: 3vh;
  }
  .repos {
    // background-color: red;
    margin-top: 4vh;
    font-size: 1.2rem;

    h4 {
      font-size: 1.5rem;
      font-weight: 600;
      padding-bottom: 2vh;
    }
    a {
      text-decoration: none;
      color: #03940bd4;
    }
  }
}
@media (max-width: 600px) {
    body {
        padding: 1rem;
        // background-color: red;
        // align-items: flex-start;
    }

    h2 {
        margin-top: 5vh;
        font-size: 1.6rem;
        // white-space: nowrap;
    }

    form {
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        
        gap: 2vh;
        input {
            font-size: 1.1rem;
            padding: 0.4rem 0.8rem;
        }

        #submit {
            font-size: 1.1rem;
            // padding: 0.4rem 0.8rem;
        }
    }

    button {
        font-size: 1rem;
        padding: 0.3rem 1rem;
    }

    .user-card {
        padding: 1rem;
        margin-bottom: 1vh;

        h3 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1.15rem;
        }

        img {
            width: 150px;
            height: 150px;
        }

        .repos {
            font-size: 1rem;

            h4 {
                font-size: 1.1rem;
                white-space: nowrap;
            }
            a{
                font-size: 1.15rem;
                
            }
        }
    }
}
